{% extends 'core/base.html' %}  

{% block title %}Acerca de{% endblock %}

{% block background%}{% load static %}{% static 'core/img/1-bg.jpg' %}{% endblock %}

{% block headers %}
      <h1>Acerca de</h1>
      <span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
      <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatari.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Kevin Joel Zambrano Lucas</h2>   
          <p>Nacido el 26 de Marzo 2001-Sucre-Bahia de Caraquez </p>
          <p>Oriundo de Manabi-Sucre: Soy apasionado por el futbol unos de mis deportes favoritos que ame desde niño, en mi presente portafolio contiene proyectos de este hermoso deporte, esperando llamarles la atencion a cada uno de los lectores invitandoles a ser parte de este bonito proyecto.</p>
        </div>
      </div>  
    </div>
{% endblock %}
